@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply relative flex justify-center items-start;
    }

    .section-title {
        @apply absolute top-24 uppercase text-xl sm:text-2xl md:text-4xl font-playpen font-bold text-center;
    }

    .section-container {
        @apply
    }

    .purple-gradient {
        @apply bg-gradient-to-l from-yellow-500 via-purple-500 to-blue-500 text-transparent bg-clip-text;
    }

    .cards-style {
        @apply border-[1px] border-primary font-serif;
    }

    .box {
        --mask: radial-gradient(40.25px at 50% 54.00px, #000 99%, #0000 101%) calc(50% - 36px) 0/72px 51% repeat-x,
        radial-gradient(40.25px at 50% -36px, #0000 99%, #000 101%) 50% 18px/72px calc(51% - 18px) repeat-x,
        radial-gradient(40.25px at 50% calc(100% - 54.00px), #000 99%, #0000 101%) calc(50% - 36px) 100%/72px 51% repeat-x,
        radial-gradient(40.25px at 50% calc(100% + 36.00px), #0000 99%, #000 101%) 50% calc(100% - 18px)/72px calc(51% - 18px) repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    .star {
        width: 200px;
        aspect-ratio: 1;
        clip-path: polygon(94.11% 73.54%, 66.17% 83.28%, 41.25% 99.23%, 23.35% 75.67%, 0.48% 56.89%, 17.36% 32.58%, 28.14% 5.03%, 56.48% 13.57%, 86.02% 15.32%, 86.65% 44.90%);
    }

    .ribbon {
        @apply text-black font-bold text-lg font-playpen;
        /* Equivalent to font-size: 28px; font-weight: bold; color: #fff; */

        --f: .5em; /* Control the folded part */
        --r: .8em; /* Control the ribbon shape */

        position: absolute;
        top: 20px;
        left: calc(-1 * var(--f));
        padding-inline: 2em;
        line-height: 1.8;
        background-color: #ffccbc;
        border-bottom-width: var(--f);
        border-bottom-color: #0005;
        border-right-width: var(--r);
        border-right-color: #0000;
        clip-path: polygon(0 0, 0 calc(100% - var(--f)), var(--f) 100%, var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)), calc(100% - var(--r)) calc(50% - var(--f) / 2), 100% 0);
    }

}
